<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.DictMapper">
    <resultMap id="DictResultMap" type="com.wangzhixuan.model.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Dict_Column_List">
        id, name
    </sql>

    <select id="findDegreeDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_degree
        order by id
    </select>

    <select id="findDegreeIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_degree
        where name = #{name}
    </select>

    <select id="findNationalIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_national
        where name = #{name}
    </select>

    <select id="findJobIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from job
        where job_name = #{name}
    </select>
</mapper>

