<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.DictMapper">
    <resultMap id="DictResultMap" type="com.wangzhixuan.model.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="RankResultMap" type="com.wangzhixuan.model.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="rank_level" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="JobResultMap" type="com.wangzhixuan.model.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_level" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="JobNameResultMap" type="com.wangzhixuan.model.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_category" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Dict_Column_List">
        id, name
    </sql>

    <select id="findDegreeDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_degree
        order by id
    </select>

    <select id="findDegreeIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_degree
        where name = #{name}
    </select>

    <select id="findNationalDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_national
        order by id
    </select>

    <select id="findNationalIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_national
        where name = #{name}
    </select>

    <select id="findNativeDict" resultMap="DictResultMap">
        SELECT
        <include refid="Dict_Column_List"/>
        from dict_native
        order by id
    </select>

    <select id="findNativeIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        id
        from dict_native
        where name = #{name}
    </select>

    <select id="findRankLevelDict" resultMap="RankResultMap">
        select
        id, rank_level
        from rank
        order by id
    </select>

    <select id="findJobLevelDict" resultMap="JobResultMap">
        select
        id, job_level
        from job
        order by id
    </select>

    <select id="findJobLevelIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from job
        where job_level = #{job_level}
    </select>

    <select id="findJobNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT
        job_level
        FROM job
        WHERE id = #{id}
    </select>

    <select id="findRankLevelIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from rank
        where rank_level = #{rank_level}
    </select>

    <select id="findMarriageDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_marriage
        order by id
    </select>

    <select id="findMarriageIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_marriage
        where name = #{name}
    </select>

    <select id="findDepartmentDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_department
        order by id
    </select>

    <select id="findDepartmentIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_department
        where name = #{name}
    </select>

    <select id="findJobNameDict" resultMap="JobNameResultMap">
        select
        id, job_category
        from job
        order by id
    </select>

    <select id="findJobNameIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from job
        where job_category = #{job_category}
    </select>

    <select id="findIdentityDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_identity
        order by id
    </select>

    <select id="findIdentityIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        id
        FROM dict_identity
        WHERE name = #{name}
    </select>

    <select id="findBranchDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_branch
        order by id
    </select>

    <select id="findBranchIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_branch
        where name = #{name}
    </select>

    <select id="findPartyStatusDict" resultMap="DictResultMap">
        select
        <include refid="Dict_Column_List"/>
        from dict_party_status
        order by id
    </select>

    <select id="findPartyStatusIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        id
        from dict_party_status
        where name = #{name}
    </select>
</mapper>

