<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.PeopleContractSalaryMapper">
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.PeopleContractSalary">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="people_code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="job_id" property="jobId" jdbcType="INTEGER" />
		<result column="job_salary" property="jobSalary" jdbcType="DECIMAL" />
		<result column="school_salary" property="schoolSalary" jdbcType="DECIMAL" />
		<result column="exam_result" property="examResult" jdbcType="VARCHAR" />
		<result column="job_exam_salary" property="jobExamSalary" jdbcType="DECIMAL" />
		<result column="telephone_allowance" property="telephoneAllowance" jdbcType="DECIMAL" />
		<result column="traffic_allowance" property="trafficAllowance" jdbcType="DECIMAL" />
		<result column="special_allowance" property="specialAllowance" jdbcType="DECIMAL" />
		<result column="head_allowance" property="headAllowance" jdbcType="DECIMAL" />
		<result column="on_duty_fee" property="onDutyFee" jdbcType="DECIMAL" />
		<result column="on_duty_date" property="onDutyDate" jdbcType="DECIMAL" />
		<result column="on_duty_fee_total" property="onDutyFeeTotal" jdbcType="DECIMAL" />
		<result column="bonus" property="bonus" jdbcType="DECIMAL" />
		<result column="reissue_fee" property="reissueFee" jdbcType="DECIMAL" />
		<result column="temperature_allowance" property="temperatureAllowance" jdbcType="DECIMAL" />
		<result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
		<result column="life_insurance" property="lifeInsurance" jdbcType="DECIMAL" />
		<result column="job_insurance" property="jobInsurance" jdbcType="DECIMAL" />
		<result column="health_insurance" property="healthInsurance" jdbcType="DECIMAL" />
		<result column="house_fund" property="houseFund" jdbcType="DECIMAL" />
		<result column="expense" property="expense" jdbcType="DECIMAL" />
		<result column="net_income" property="netIncome" jdbcType="DECIMAL" />
		<result column="pay_date" property="payDate" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="peopleContractSalaryVoResultMap" type="com.wangzhixuan.vo.PeopleContractSalaryVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="people_code" 	property="peopleCode" jdbcType="VARCHAR" />
		<result column="people_name" 	property="peopleName" jdbcType="VARCHAR" />
		<result column="job_id" 		property="jobId" jdbcType="INTEGER" />
		<result column="job_salary" 	property="jobSalary" jdbcType="DECIMAL" />
        <result column="job_category"   jdbcType="VARCHAR" property="jobCategory"/>
        <result column="job_level"      jdbcType="VARCHAR" property="jobLevel" />
		<result column="school_salary"   property="schoolSalary" jdbcType="DECIMAL" />
		<result column="job_exam_salary" property="jobExamSalary" jdbcType="DECIMAL" />
		<result column="telephone_allowance" property="telephoneAllowance" jdbcType="DECIMAL" />
		<result column="traffic_allowance"   property="trafficAllowance" jdbcType="DECIMAL" />
		<result column="special_allowance"   property="specialAllowance" jdbcType="DECIMAL" />
		<result column="head_allowance"      property="headAllowance" jdbcType="DECIMAL" />
		<result column="on_duty_fee"         property="onDutyFee" jdbcType="DECIMAL" />
		<result column="on_duty_date"        property="onDutyDate" jdbcType="DECIMAL" />
		<result column="on_duty_fee_total"   property="onDutyFeeTotal" jdbcType="DECIMAL" />
		<result column="bonus"               property="bonus" jdbcType="DECIMAL" />
		<result column="reissue_fee"         property="reissueFee" jdbcType="DECIMAL" />
		<result column="temperature_allowance" property="temperatureAllowance" jdbcType="DECIMAL" />
		<result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
		<result column="life_insurance" property="lifeInsurance" jdbcType="DECIMAL" />
		<result column="job_insurance" property="jobInsurance" jdbcType="DECIMAL" />
		<result column="health_insurance" property="healthInsurance" jdbcType="DECIMAL" />
		<result column="house_fund" property="houseFund" jdbcType="DECIMAL" />
		<result column="expense" property="expense" jdbcType="DECIMAL" />
		<result column="net_income" property="netIncome" jdbcType="DECIMAL" />
		<result column="pay_date" property="payDate" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="peopleContractSalaryBaseMap" type="com.wangzhixuan.model.PeopleContractSalaryBase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="name" property="peopleName" jdbcType="VARCHAR" />
		<result column="job_id" property="jobId" jdbcType="INTEGER" />
		<result column="job_salary" property="jobSalary" jdbcType="DECIMAL" />
		<result column="school_salary" property="schoolSalary" jdbcType="DECIMAL" />
		<result column="job_exam_salary" property="jobExamSalary" jdbcType="DECIMAL" />
		<result column="telephone_allowance" property="telephoneAllowance" jdbcType="DECIMAL" />
		<result column="traffic_allowance" property="trafficAllowance" jdbcType="DECIMAL" />
		<result column="special_allowance" property="specialAllowance" jdbcType="DECIMAL" />
		<result column="head_allowance" property="headAllowance" jdbcType="DECIMAL" />
		<result column="on_duty_fee" property="onDutyFee" jdbcType="DECIMAL" />
		<result column="bonus" property="bonus" jdbcType="DECIMAL" />
		<result column="reissue_fee" property="reissueFee" jdbcType="DECIMAL" />
		<result column="temperature_allowance" property="temperatureAllowance" jdbcType="DECIMAL" />
		<result column="life_insurance" property="lifeInsurance" jdbcType="DECIMAL" />
		<result column="job_insurance" property="jobInsurance" jdbcType="DECIMAL" />
		<result column="health_insurance" property="healthInsurance" jdbcType="DECIMAL" />
		<result column="house_fund" property="houseFund" jdbcType="DECIMAL" />
		<result column="last_update_date" property="lastUpdateDate" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="peopleContractSalaryBaseVoMap" type="com.wangzhixuan.vo.PeopleContractSalaryBaseVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="name" property="peopleName" jdbcType="VARCHAR" />
		<result column="job_id" property="jobId" jdbcType="INTEGER" />
		<result column="job_salary" property="jobSalary" jdbcType="DECIMAL" />
		<result column="job_level"  property="jobLevel"  jdbcType="VARCHAR" />
		<result column="school_salary" property="schoolSalary" jdbcType="DECIMAL" />
		<result column="job_exam_salary" property="jobExamSalary" jdbcType="DECIMAL" />
		<result column="telephone_allowance" property="telephoneAllowance" jdbcType="DECIMAL" />
		<result column="traffic_allowance" property="trafficAllowance" jdbcType="DECIMAL" />
		<result column="special_allowance" property="specialAllowance" jdbcType="DECIMAL" />
		<result column="head_allowance" property="headAllowance" jdbcType="DECIMAL" />
		<result column="on_duty_fee" property="onDutyFee" jdbcType="DECIMAL" />
		<result column="bonus" property="bonus" jdbcType="DECIMAL" />
		<result column="reissue_fee" property="reissueFee" jdbcType="DECIMAL" />
		<result column="temperature_allowance" property="temperatureAllowance" jdbcType="DECIMAL" />
		<result column="life_insurance" property="lifeInsurance" jdbcType="DECIMAL" />
		<result column="job_insurance" property="jobInsurance" jdbcType="DECIMAL" />
		<result column="health_insurance" property="healthInsurance" jdbcType="DECIMAL" />
		<result column="house_fund" property="houseFund" jdbcType="DECIMAL" />
		<result column="last_update_date" property="lastUpdateDate" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, people_code, job_id, job_salary, school_salary, exam_result,
		job_exam_salary, telephone_allowance, traffic_allowance, special_allowance, head_allowance, on_duty_fee,
		on_duty_date, on_duty_fee_total, bonus, reissue_fee, temperature_allowance,
		gross_income, life_insurance, job_insurance, health_insurance, house_fund, expense, net_income, pay_date
	</sql>

	<sql id="PeopleContractSalaryBase_Column_List">
		id,code,name,job_id, job_salary,school_salary,job_exam_salary,telephone_allowance, traffic_allowance,
		special_allowance, head_allowance, on_duty_fee, bonus, reissue_fee, temperature_allowance,life_insurance,
		job_insurance, health_insurance, house_fund,last_update_date
	</sql>

	<select id="findPeopleContractSalaryBasePageCondition" resultMap="peopleContractSalaryBaseMap" parameterType="PageInfo">
		SELECT
			t.id,
			t.code,
			t.name,
			t.job_id,
			t.job_salary,
			j.job_level as job_level,
			t.school_salary,
			t.job_exam_salary,
			t.telephone_allowance,
			t.traffic_allowance,
			t.special_allowance,
			t.head_allowance,
			t.on_duty_fee,
			t.bonus,
			t.reissue_fee,
			t.temperature_allowance,
			t.life_insurance,
			t.job_insurance,
			t.health_insurance,
			t.house_fund,
			t.last_update_date

		FROM
			people_total t
		LEFT JOIN
			job j ON j.id = t.job_id
		<where>
			<if test=" condition.name != null and condition.name != ''">
				and t.name LIKE concat('%',#{condition.name},'%')
			</if>
			<if test=" condition.status != null">
				and t.status = 4
			</if>
		</where>
		LIMIT #{from}, #{size}
	</select>

	<select id="findPeopleContractSalaryBasePageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(t.id) count
		FROM people_total t
		<where>
			<if test=" condition.name != null and condition.name != ''">
				and t.name LIKE concat('%',#{condition.name},'%')
			</if>
			<if test=" condition.status != null">
				and t.status = 4
			</if>
		</where>
	</select>
</mapper>