<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.PeopleRetireSalaryMapper">
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.PeopleRetireSalary">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="people_code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="base_salary" property="baseSalary" jdbcType="DECIMAL" />
		<result column="extra_allowance" property="extraAllowance" jdbcType="DECIMAL" />
		<result column="rent_allowance" property="rentAllowance" jdbcType="DECIMAL" />
		<result column="retire_allowance" property="retireAllowance" jdbcType="DECIMAL" />
		<result column="retire_fee_increase" property="retireFeeIncrease" jdbcType="DECIMAL" />
		<result column="food_allowance" property="foodAllowance" jdbcType="DECIMAL" />
		<result column="health_allowance" property="healthAllowance" jdbcType="DECIMAL" />
		<result column="medicare" property="medicare" jdbcType="DECIMAL" />
		<result column="property_allowance" property="propertyAllowance" jdbcType="DECIMAL" />
		<result column="heating_fee" property="heatingFee" jdbcType="DECIMAL" />
		<result column="handicap_allowance" property="handicapAllowance" jdbcType="DECIMAL" />
		<result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
		<result column="expense" property="expense" jdbcType="DECIMAL" />
		<result column="rent_fee" property="rentFee" jdbcType="DECIMAL" />
		<result column="net_income" property="netIncome" jdbcType="DECIMAL" />
		<result column="pay_date" property="payDate" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="peopleRetireSalaryVoResultMap" type="com.wangzhixuan.vo.PeopleRetireSalaryVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="people_code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="people_name" property="peopleName" jdbcType="VARCHAR" />
		<result column="base_salary" property="baseSalary" jdbcType="DECIMAL" />
		<result column="extra_allowance" property="extraAllowance" jdbcType="DECIMAL" />
		<result column="rent_allowance" property="rentAllowance" jdbcType="DECIMAL" />
		<result column="retire_allowance" property="retireAllowance" jdbcType="DECIMAL" />
		<result column="retire_fee_increase" property="retireFeeIncrease" jdbcType="DECIMAL" />
		<result column="food_allowance" property="foodAllowance" jdbcType="DECIMAL" />
		<result column="health_allowance" property="healthAllowance" jdbcType="DECIMAL" />
		<result column="medicare" property="medicare" jdbcType="DECIMAL" />
		<result column="property_allowance" property="propertyAllowance" jdbcType="DECIMAL" />
		<result column="heating_fee" property="heatingFee" jdbcType="DECIMAL" />
		<result column="handicap_allowance" property="handicapAllowance" jdbcType="DECIMAL" />
		<result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
		<result column="expense" property="expense" jdbcType="DECIMAL" />
		<result column="rent_fee" property="rentFee" jdbcType="DECIMAL" />
		<result column="net_income" property="netIncome" jdbcType="DECIMAL" />
		<result column="pay_date" property="payDate" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="peopleRetireSalaryBaseMap" type="com.wangzhixuan.model.PeopleRetireSalaryBase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="name" property="peopleName" jdbcType="VARCHAR" />
		<result column="base_salary" property="baseSalary" jdbcType="DECIMAL" />
		<result column="extra_allowance" property="extraAllowance" jdbcType="DECIMAL" />
		<result column="rent_allowance" property="rentAllowance" jdbcType="DECIMAL" />
		<result column="retire_allowance" property="retireAllowance" jdbcType="DECIMAL" />
		<result column="retire_fee_increase" property="retireFeeIncrease" jdbcType="DECIMAL" />
		<result column="food_allowance" property="foodAllowance" jdbcType="DECIMAL" />
		<result column="health_allowance" property="healthAllowance" jdbcType="DECIMAL" />
		<result column="medicare" property="medicare" jdbcType="DECIMAL" />
		<result column="property_allowance" property="propertyAllowance" jdbcType="DECIMAL" />
		<result column="heating_fee" property="heatingFee" jdbcType="DECIMAL" />
		<result column="handicap_allowance" property="handicapAllowance" jdbcType="DECIMAL" />
		<result column="rent_fee" property="rentFee" jdbcType="DECIMAL" />
		<result column="last_update_date" property="lastUpdateDate" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="peopleRetireSalaryBaseVoMap" type="com.wangzhixuan.vo.PeopleRetireSalaryBaseVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="peopleCode" jdbcType="VARCHAR" />
		<result column="name" property="peopleName" jdbcType="VARCHAR" />
		<result column="base_salary" property="baseSalary" jdbcType="DECIMAL" />
		<result column="extra_allowance" property="extraAllowance" jdbcType="DECIMAL" />
		<result column="rent_allowance" property="rentAllowance" jdbcType="DECIMAL" />
		<result column="retire_allowance" property="retireAllowance" jdbcType="DECIMAL" />
		<result column="retire_fee_increase" property="retireFeeIncrease" jdbcType="DECIMAL" />
		<result column="food_allowance" property="foodAllowance" jdbcType="DECIMAL" />
		<result column="health_allowance" property="healthAllowance" jdbcType="DECIMAL" />
		<result column="medicare" property="medicare" jdbcType="DECIMAL" />
		<result column="property_allowance" property="propertyAllowance" jdbcType="DECIMAL" />
		<result column="heating_fee" property="heatingFee" jdbcType="DECIMAL" />
		<result column="handicap_allowance" property="handicapAllowance" jdbcType="DECIMAL" />
		<result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
		<result column="expense" property="expense" jdbcType="DECIMAL" />
		<result column="rent_fee" property="rentFee" jdbcType="DECIMAL" />
		<result column="net_income" property="netIncome" jdbcType="DECIMAL" />
		<result column="last_update_date" property="lastUpdateDate" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, people_code, base_salary, extra_allowance, rent_allowance, retire_allowance,
		retire_fee_increase, food_allowance, health_allowance, medicare, property_allowance,
		heating_fee, handicap_allowance, gross_income, expense, rent_fee, net_income, pay_date
	</sql>

	<sql id="PeopleRetireSalaryBase_Column_List">
		id, code, name, base_salary, extra_allowance, rent_allowance, retire_allowance,
		retire_fee_increase, food_allowance, health_allowance, medicare, property_allowance,
		heating_fee, handicap_allowance, rent_fee, last_update_date
	</sql>

	<select id="findPeopleRetireSalaryBasePageCondition" resultMap="peopleRetireSalaryBaseVoMap" parameterType="PageInfo">
		SELECT
			t.id,
			t.code,
			t.name,
			t.base_salary,
			t.extra_allowance,
			t.rent_allowance,
			t.retire_allowance,
			t.retire_fee_increase,
			t.food_allowance,
			t.health_allowance,
			t.medicare,
			t.property_allowance,
			t.heating_fee,
			t.handicap_allowance,
			t.rent_fee,
			t.last_update_date
		FROM
			people_total t
	  	<where>
			<if test=" condition.peopleName != null and condition.peopleName != ''">
				and t.name LIKE concat('%',#{condition.peopleName},'%')
			</if>
			<if test=" condition.sex != null">
				and t.sex = #{condition.sex}
			</if>
			<if test=" condition.birthdayMin != null and condition.birthdayMax != ''">
				<![CDATA[ and t.birthday >= #{condition.birthdayMin} ]]>
			</if>
			<if test=" condition.birthdayMax != null and condition.birthdayMax != ''">
				<![CDATA[ and t.birthday <= #{condition.birthdayMax} ]]>
			</if>
			<if test=" condition.status != null ">
				and t.status = 1
			</if>
		</where>
	</select>

	<select id="findPeopleRetireSalaryBasePageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		SELECT count(t.id) count
		FROM people_total t
		<where>
			<if test=" condition.peopleName != null and condition.peopleName != ''">
				and t.name LIKE concat('%',#{condition.peopleName},'%')
			</if>
			<if test=" condition.sex != null">
				and t.sex = #{condition.sex}
			</if>
			<if test=" condition.birthdayMin != null and condition.birthdayMax != ''">
				<![CDATA[ and t.birthday >= #{condition.birthdayMin} ]]>
			</if>
			<if test=" condition.birthdayMax != null and condition.birthdayMax != ''">
				<![CDATA[ and t.birthday <= #{condition.birthdayMax} ]]>
			</if>
			<if test=" condition.status != null ">
				and t.status = 1
			</if>
		</where>
	</select>

	<select id="findPeopleRetireSalaryBaseById" resultMap="peopleRetireSalaryBaseMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="PeopleRetireSalaryBase_Column_List"/>
		FROM people_total
		where id = #{id, jdbcType=INTEGER}
	</select>

	<select id="findPeopleRetireSalaryBaseByCode" resultMap="peopleRetireSalaryBaseMap" parameterType="java.lang.String">
		SELECT
		t.id,
		t.code,
		t.name,
		t.base_salary,
		t.extra_allowance,
		t.rent_allowance,
		t.retire_allowance,
		t.retire_fee_increase,
		t.food_allowance,
		t.health_allowance,
		t.medicare,
		t.property_allowance,
		t.heating_fee,
		t.handicap_allowance,
		t.rent_fee,
		t.last_update_date
		FROM people_total t
		<where>
			t.code = #{peopleCode}
		</where>
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from people_retire_salary
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findPeopleRetireSalaryVoById" resultMap="peopleRetireSalaryVoResultMap" parameterType="java.lang.Long">
		SELECT
		t.id,
		t.people_code,
		p.name as people_name,
		t.base_salary,
		t.extra_allowance,
		t.rent_allowance,
		t.retire_allowance,
		t.retire_fee_increase,
		t.food_allowance,
		t.health_allowance,
		t.medicare,
		t.property_allowance,
		t.heating_fee,
		t.handicap_allowance,
		t.gross_income,
		t.expense,
		t.rent_fee,
		t.net_income,
		t.pay_date
		FROM
			people_retire_salary t LEFT JOIN people_total p
		ON t.people_code = p.code
			where t.id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from people_retire_salary
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.wangzhixuan.model.PeopleRetireSalary">
		insert into people_retire_salary (
			people_code, base_salary, extra_allowance, rent_allowance, retire_allowance,
			retire_fee_increase, food_allowance, health_allowance, medicare, property_allowance,
			heating_fee, handicap_allowance, gross_income, expense, rent_fee, net_income, pay_date
		)
		values (
			#{peopleCode,jdbcType=VARCHAR},
			#{baseSalary,jdbcType=DECIMAL},
			#{extraAllowance,jdbcType=DECIMAL},
			#{rentAllowance,jdbcType=DECIMAL},
			#{retireAllowance,jdbcType=DECIMAL},
			#{retireFeeIncrease,jdbcType=DECIMAL},
			#{foodAllowance,jdbcType=DECIMAL},
			#{healthAllowance,jdbcType=DECIMAL},
			#{medicare,jdbcType=DECIMAL},
			#{propertyAllowance,jdbcType=DECIMAL},
			#{heatingFee,jdbcType=DECIMAL},
			#{handicapAllowance,jdbcType=DECIMAL},
			#{grossIncome,jdbcType=DECIMAL},
			#{expense,jdbcType=DECIMAL},
			#{rentFee,jdbcType=DECIMAL},
			#{netIncome,jdbcType=DECIMAL},
			#{payDate,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.wangzhixuan.model.PeopleRetireSalary">
		update people_retire_salary
		set
			people_code = #{peopleCode,jdbcType=VARCHAR},
			base_salary = #{baseSalary,jdbcType=DECIMAL},
			extra_allowance = #{extraAllowance,jdbcType=DECIMAL},
			rent_allowance = #{rentAllowance,jdbcType=DECIMAL},
			retire_allowance = #{retireAllowance,jdbcType=DECIMAL},
			retire_fee_increase = #{retireFeeIncrease,jdbcType=DECIMAL},
			food_allowance = #{foodAllowance,jdbcType=DECIMAL},
			health_allowance = #{healthAllowance,jdbcType=DECIMAL},
			medicare = #{medicare,jdbcType=DECIMAL},
			property_allowance = #{propertyAllowance,jdbcType=DECIMAL},
			heating_fee = #{heatingFee,jdbcType=DECIMAL},
			handicap_allowance = #{handicapAllowance,jdbcType=DECIMAL},
			gross_income = #{grossIncome,jdbcType=DECIMAL},
			expense = #{expense,jdbcType=DECIMAL},
			rent_fee = #{rentFee,jdbcType=DECIMAL},
			net_income = #{netIncome,jdbcType=DECIMAL},
			pay_date = #{payDate,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findPeopleRetireSalaryPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(t.id) count
		FROM
		people_retire_salary t
		where t.people_code = #{condition.peopleCode}
	</select>

	<select id="findPeopleRetireSalaryPageCondition" resultMap="peopleRetireSalaryVoResultMap" parameterType="PageInfo">
	SELECT
		t.id,
		t.people_code,
		t.base_salary,
		t.extra_allowance,
		t.rent_allowance,
		t.retire_allowance,
		t.retire_fee_increase,
		t.food_allowance,
		t.health_allowance,
		t.medicare,
		t.property_allowance,
		t.heating_fee,
		t.handicap_allowance,
		t.gross_income,
		t.expense,
		t.rent_fee,
		t.net_income,
		t.pay_date
		FROM people_retire_salary t
		where t.people_code = #{condition.peopleCode}
		ORDER BY
		t.pay_date desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findPeopleRetireSalaryVoListByCode" resultMap="peopleRetireSalaryVoResultMap" parameterType="java.lang.String">
		SELECT
			t.id,
			t.people_code,
			p.name as people_name,
			t.base_salary,
			t.extra_allowance,
			t.rent_allowance,
			t.retire_allowance,
			t.retire_fee_increase,
			t.food_allowance,
			t.health_allowance,
			t.medicare,
			t.property_allowance,
			t.heating_fee,
			t.handicap_allowance,
			t.gross_income,
			t.expense,
			t.rent_fee,
			t.net_income,
			t.pay_date
		FROM people_retire_salary t
		LEFT JOIN people_total p
		ON t.people_code = p.code
		where t.people_code = #{peopleCode}
	</select>

	<insert id="insertByImport" parameterType="java.util.List">
		insert into people_retire_salary(
	  		people_code, base_salary, extra_allowance, rent_allowance, retire_allowance,
			retire_fee_increase, food_allowance, health_allowance, medicare, property_allowance,
			heating_fee, handicap_allowance, gross_income, expense, rent_fee, net_income, pay_date
		)
		VALUES
		<foreach item="item" index="index" collection="list" separator=",">
		(
			#{item.peopleCode,jdbcType=VARCHAR},
			#{item.baseSalary,jdbcType=DECIMAL},
			#{item.extraAllowance,jdbcType=DECIMAL},
			#{item.rentAllowance,jdbcType=DECIMAL},
			#{item.retireAllowance,jdbcType=DECIMAL},
			#{item.retireFeeIncrease,jdbcType=DECIMAL},
			#{item.foodAllowance,jdbcType=DECIMAL},
			#{item.healthAllowance,jdbcType=DECIMAL},
			#{item.medicare,jdbcType=DECIMAL},
			#{item.propertyAllowance,jdbcType=DECIMAL},
			#{item.heatingFee,jdbcType=DECIMAL},
			#{item.handicapAllowance,jdbcType=DECIMAL},
			#{item.grossIncome,jdbcType=DECIMAL},
			#{item.expense,jdbcType=DECIMAL},
			#{item.rentFee,jdbcType=DECIMAL},
			#{item.netIncome,jdbcType=DECIMAL},
			#{item.payDate,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>


	<insert id="addSalaryBase" parameterType="com.wangzhixuan.model.PeopleRetireSalaryBase">
		INSERT INTO people_retire_salary_base(
			people_code,base_salary,extra_allowance,rent_allowance,retire_allowance,retire_fee_increase,food_allowance,
		health_allowance,medicare_fee,property_allowance,heating_fee,handicap_allowance,gross_income,expense,rent_fee,net_income,
		last_change_date
		)
		VALUES (
		#{item.peopleCode,jdbcType=VARCHAR},
			#{item.baseSalary,jdbcType=DECIMAL},
			#{item.extraAllowance,jdbcType=DECIMAL},
			#{item.rentAllowance,jdbcType=DECIMAL},
			#{item.retireAllowance,jdbcType=DECIMAL},
			#{item.retireFeeIncrease,jdbcType=DECIMAL},
			#{item.foodAllowance,jdbcType=DECIMAL},
			#{item.healthAllowance,jdbcType=DECIMAL},
			#{item.medicareFee,jdbcType=DECIMAL},
			#{item.propertyAllowance,jdbcType=DECIMAL},
			#{item.heatingFee,jdbcType=DECIMAL},
			#{item.handicapAllowance,jdbcType=DECIMAL},
			#{item.grossIncome,jdbcType=DECIMAL},
			#{item.expense,jdbcType=DECIMAL},
			#{item.rentFee,jdbcType=DECIMAL},
			#{item.netIncome,jdbcType=DECIMAL},
			#{item.lastChangeDate,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateSalaryBase" parameterType="com.wangzhixuan.model.PeopleContractSalaryBase">
		update people_total
		SET
		    base_salary         = #{baseSalary,jdbcType=DECIMAL},
			extra_allowance     = #{extraAllowance,jdbcType=DECIMAL},
			rent_allowance      = #{rentAllowance,jdbcType=DECIMAL},
			retire_allowance    = #{retireAllowance,jdbcType=DECIMAL},
			retire_fee_increase = #{retireFeeIncrease,jdbcType=DECIMAL},
			food_allowance      = #{foodAllowance,jdbcType=DECIMAL},
			health_allowance    = #{healthAllowance,jdbcType=DECIMAL},
			medicare        	= #{medicare,jdbcType=DECIMAL},
			property_allowance  = #{propertyAllowance,jdbcType=DECIMAL},
			heating_fee         = #{heatingFee,jdbcType=DECIMAL},
			handicap_allowance  = #{handicapAllowance,jdbcType=DECIMAL},
			rent_fee            = #{rentFee,jdbcType=DECIMAL},
			last_update_date 	= #{lastUpdateDate,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>