<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.PeopleSalaryMapper">
    <resultMap id="BaseResultMap" type="com.wangzhixuan.model.PeopleSalary">
        <id     column="id"          property="id"         jdbcType="BIGINT"/>
        <result column="people_code" property="peopleCode" jdbcType="VARCHAR"/>
        <result column="job_id"      property="jobId"      jdbcType="INTEGER"/>
        <result column="job_salary"  property="jobSalary"  jdbcType="DECIMAL"/>
        <result column=""
    </resultMap>