<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.PeopleSalaryMapper">
    <resultMap id="BaseResultMap" type="com.wangzhixuan.model.PeopleSalary">
        <id     column="id"             jdbcType="BIGINT" property="id" />
        <result column="people_code"    jdbcType="VARCHAR" property="peopleCode" />
        <result column="job_id"         jdbcType="INTEGER" property="jobId" />
        <result column="job_salary"     jdbcType="DECIMAL" property="jobSalary" />
        <result column="rank_id"        jdbcType="INTEGER" property="rankId" />
        <result column="rank_salary"    jdbcType="DECIMAL" property="rankSalary" />
        <result column="reserve_salary" jdbcType="DECIMAL" property="reserveSalary" />
        <result column="exam_result"    jdbcType="VARCHAR" property="examResult" />
        <result column="job_allowance"  jdbcType="DECIMAL" property="jobAllowance" />
        <result column="performance_allowance"  jdbcType="DECIMAL" property="performanceAllowance" />
        <result column="rent_allowance"         jdbcType="DECIMAL" property="rentAllowance" />
        <result column="house_allowance"        jdbcType="DECIMAL" property="houseAllowance" />
        <result column="work_date"              jdbcType="DATE"    property="workDate" />
        <result column="timesheet_status"       jdbcType="DECIMAL" property="timesheetStatus" />
        <result column="duty_allowance"         jdbcType="DECIMAL" property="dutyAllowance" />
        <result column="extra_allowance"        jdbcType="DECIMAL" property="extraAllowance" />
        <result column="telephone_allowance"    jdbcType="DECIMAL" property="telephoneAllowance" />
        <result column="traffic_allowance"      jdbcType="DECIMAL" property="trafficAllowance" />
        <result column="on_duty_fee"            jdbcType="DECIMAL" property="onDutyFee" />
        <result column="on_duty_date"           jdbcType="DECIMAL" property="onDutyDate" />
        <result column="on_duty_fee_total"      jdbcType="DECIMAL" property="onDutyFeeTotal" />
        <result column="property_allowance"     jdbcType="DECIMAL" property="propertyAllowance" />
        <result column="extra_job_allowance"    jdbcType="DECIMAL" property="extraJobAllowance" />
        <result column="temperature_allowance"  jdbcType="DECIMAL" property="temperatureAllowance" />
        <result column="reissue_fee"            jdbcType="DECIMAL" property="reissueFee" />
        <result column="medicare"               jdbcType="DECIMAL" property="medicare" />
        <result column="yearly_bonus"           jdbcType="DECIMAL" property="yearlyBonus" />
        <result column="gross_salary"           jdbcType="DECIMAL" property="grossSalary" />
        <result column="life_insurance"         jdbcType="DECIMAL" property="lifeInsurance" />
        <result column="job_insurance"          jdbcType="DECIMAL" property="jobInsurance" />
        <result column="health_insurance"       jdbcType="DECIMAL" property="healthInsurance" />
        <result column="annuity"                jdbcType="DECIMAL" property="annuity" />
        <result column="house_fund"             jdbcType="DECIMAL" property="houseFund" />
        <result column="expense"                jdbcType="DECIMAL" property="expense" />
        <result column="tax"                    jdbcType="DECIMAL" property="tax" />
        <result column="net_income"             jdbcType="DECIMAL" property="netIncome" />
        <result column="pay_date"               jdbcType="VARCHAR" property="payDate" />
    </resultMap>

    <resultMap id="peopleSalaryVoResultMap" type="com.wangzhixuan.vo.PeopleSalaryVo">
        <id     column="id"             jdbcType="BIGINT" property="id" />
        <result column="people_code"    jdbcType="VARCHAR" property="peopleCode" />
        <result column="people_name"    jdbcType="VARCHAR" property="peopleName" />
        <result column="age"            jdbcType="INTEGER" property="age" />
        <result column="job_id"         jdbcType="INTEGER" property="jobId" />
        <result column="job_category"   jdbcType="VARCHAR" property="jobCategory"/>
        <result column="job_level"      jdbcType="VARCHAR" property="jobLevel" />
        <result column="job_salary"     jdbcType="DECIMAL" property="jobSalary" />
        <result column="rank_id"        jdbcType="INTEGER" property="rankId" />
        <result column="rank_level"     jdbcType="VARCHAR" property="rankLevel"/>
        <result column="rank_salary"    jdbcType="DECIMAL" property="rankSalary" />
        <result column="reserve_salary" jdbcType="DECIMAL" property="reserveSalary" />
        <result column="exam_result"    jdbcType="VARCHAR" property="examResult" />
        <result column="job_allowance"  jdbcType="DECIMAL" property="jobAllowance" />
        <result column="performance_allowance"  jdbcType="DECIMAL" property="performanceAllowance" />
        <result column="rent_allowance"         jdbcType="DECIMAL" property="rentAllowance" />
        <result column="house_allowance"        jdbcType="DECIMAL" property="houseAllowance" />
        <result column="work_date"              jdbcType="DATE"    property="workDate" />
        <result column="timesheet_status"       jdbcType="DECIMAL" property="timesheetStatus" />
        <result column="duty_allowance"         jdbcType="DECIMAL" property="dutyAllowance" />
        <result column="extra_allowance"        jdbcType="DECIMAL" property="extraAllowance" />
        <result column="telephone_allowance"    jdbcType="DECIMAL" property="telephoneAllowance" />
        <result column="traffic_allowance"      jdbcType="DECIMAL" property="trafficAllowance" />
        <result column="on_duty_fee"            jdbcType="DECIMAL" property="onDutyFee" />
        <result column="on_duty_date"           jdbcType="DECIMAL" property="onDutyDate" />
        <result column="on_duty_fee_total"      jdbcType="DECIMAL" property="onDutyFeeTotal" />
        <result column="property_allowance"     jdbcType="DECIMAL" property="propertyAllowance" />
        <result column="extra_job_allowance"    jdbcType="DECIMAL" property="extraJobAllowance" />
        <result column="temperature_allowance"  jdbcType="DECIMAL" property="temperatureAllowance" />
        <result column="reissue_fee"            jdbcType="DECIMAL" property="reissueFee" />
        <result column="medicare"               jdbcType="DECIMAL" property="medicare" />
        <result column="yearly_bonus"           jdbcType="DECIMAL" property="yearlyBonus" />
        <result column="gross_salary"           jdbcType="DECIMAL" property="grossSalary" />
        <result column="life_insurance"         jdbcType="DECIMAL" property="lifeInsurance" />
        <result column="job_insurance"          jdbcType="DECIMAL" property="jobInsurance" />
        <result column="health_insurance"       jdbcType="DECIMAL" property="healthInsurance" />
        <result column="annuity"                jdbcType="DECIMAL" property="annuity" />
        <result column="house_fund"             jdbcType="DECIMAL" property="houseFund" />
        <result column="expense"                jdbcType="DECIMAL" property="expense" />
        <result column="tax"                    jdbcType="DECIMAL" property="tax" />
        <result column="net_income"             jdbcType="DECIMAL" property="netIncome" />
        <result column="pay_date"               jdbcType="VARCHAR" property="payDate" />
    </resultMap>

    <resultMap id="peopleSalaryBaseResultMap" type="com.wangzhixuan.model.PeopleSalaryBase">
        <id     column="id"             jdbcType="BIGINT" property="id" />
        <result column="code"           jdbcType="VARCHAR" property="peopleCode" />
        <result column="name"           jdbcType="VARCHAR" property="peopleName" />
        <result column="job_id"         jdbcType="INTEGER" property="jobId" />
        <result column="job_salary"     jdbcType="DECIMAL" property="jobSalary" />
        <result column="rank_id"        jdbcType="INTEGER" property="rankId" />
        <result column="rank_salary"    jdbcType="DECIMAL" property="rankSalary" />
        <result column="reserve_salary" jdbcType="DECIMAL" property="reserveSalary" />
        <result column="job_allowance"  jdbcType="DECIMAL" property="jobAllowance" />
        <result column="performance_allowance"  jdbcType="DECIMAL" property="performanceAllowance" />
        <result column="rent_allowance"         jdbcType="DECIMAL" property="rentAllowance" />
        <result column="house_allowance"        jdbcType="DECIMAL" property="houseAllowance" />
        <result column="duty_allowance"         jdbcType="DECIMAL" property="dutyAllowance" />
        <result column="extra_allowance"        jdbcType="DECIMAL" property="extraAllowance" />
        <result column="telephone_allowance"    jdbcType="DECIMAL" property="telephoneAllowance" />
        <result column="traffic_allowance"      jdbcType="DECIMAL" property="trafficAllowance" />
        <result column="on_duty_fee"            jdbcType="DECIMAL" property="onDutyFee" />
        <result column="property_allowance"     jdbcType="DECIMAL" property="propertyAllowance" />
        <result column="extra_job_allowance"    jdbcType="DECIMAL" property="extraJobAllowance" />
        <result column="temperature_allowance"  jdbcType="DECIMAL" property="temperatureAllowance" />
        <result column="reissue_fee"            jdbcType="DECIMAL" property="reissueFee" />
        <result column="medicare"               jdbcType="DECIMAL" property="medicare" />
        <result column="yearly_bonus"           jdbcType="DECIMAL" property="yearlyBonus" />
        <result column="life_insurance"         jdbcType="DECIMAL" property="lifeInsurance" />
        <result column="job_insurance"          jdbcType="DECIMAL" property="jobInsurance" />
        <result column="health_insurance"       jdbcType="DECIMAL" property="healthInsurance" />
        <result column="annuity"                jdbcType="DECIMAL" property="annuity" />
        <result column="house_fund"             jdbcType="DECIMAL" property="houseFund" />
        <result column="last_update_date"       jdbcType="VARCHAR" property="lastUpdateDate"/>
    </resultMap>

    <resultMap id="peopleSalaryBaseVoResultMap" type="com.wangzhixuan.vo.PeopleSalaryBaseVo">
        <id     column="id"             jdbcType="BIGINT" property="id" />
        <result column="code"           jdbcType="VARCHAR" property="peopleCode" />
        <result column="name"           jdbcType="VARCHAR" property="peopleName" />
        <result column="age"            jdbcType="INTEGER" property="age" />
        <result column="job_id"         jdbcType="INTEGER" property="jobId" />
        <result column="job_category"   jdbcType="VARCHAR" property="jobCategory"/>
        <result column="job_level"      jdbcType="VARCHAR" property="jobLevel" />
        <result column="job_salary"     jdbcType="DECIMAL" property="jobSalary" />
        <result column="rank_id"        jdbcType="INTEGER" property="rankId" />
        <result column="rank_level"     jdbcType="VARCHAR" property="rankLevel"/>
        <result column="rank_salary"    jdbcType="DECIMAL" property="rankSalary" />
        <result column="reserve_salary" jdbcType="DECIMAL" property="reserveSalary" />
        <result column="job_allowance"  jdbcType="DECIMAL" property="jobAllowance" />
        <result column="performance_allowance"  jdbcType="DECIMAL" property="performanceAllowance" />
        <result column="rent_allowance"         jdbcType="DECIMAL" property="rentAllowance" />
        <result column="house_allowance"        jdbcType="DECIMAL" property="houseAllowance" />
        <result column="duty_allowance"         jdbcType="DECIMAL" property="dutyAllowance" />
        <result column="extra_allowance"        jdbcType="DECIMAL" property="extraAllowance" />
        <result column="telephone_allowance"    jdbcType="DECIMAL" property="telephoneAllowance" />
        <result column="traffic_allowance"      jdbcType="DECIMAL" property="trafficAllowance" />
        <result column="on_duty_fee"            jdbcType="DECIMAL" property="onDutyFee" />
        <result column="property_allowance"     jdbcType="DECIMAL" property="propertyAllowance" />
        <result column="extra_job_allowance"    jdbcType="DECIMAL" property="extraJobAllowance" />
        <result column="temperature_allowance"  jdbcType="DECIMAL" property="temperatureAllowance" />
        <result column="reissue_fee"            jdbcType="DECIMAL" property="reissueFee" />
        <result column="medicare"               jdbcType="DECIMAL" property="medicare" />
        <result column="yearly_bonus"           jdbcType="DECIMAL" property="yearlyBonus" />
        <result column="life_insurance"         jdbcType="DECIMAL" property="lifeInsurance" />
        <result column="job_insurance"          jdbcType="DECIMAL" property="jobInsurance" />
        <result column="health_insurance"       jdbcType="DECIMAL" property="healthInsurance" />
        <result column="annuity"                jdbcType="DECIMAL" property="annuity" />
        <result column="house_fund"             jdbcType="DECIMAL" property="houseFund" />
        <result column="last_update_date"       jdbcType="VARCHAR" property="lastUpdateDate" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, job_id, job_salary, rank_id, rank_salary, reserve_salary, exam_result,
        job_allowance, performance_allowance, rent_allowance, house_allowance, work_date,
        timesheet_status, duty_allowance, extra_allowance, telephone_allowance, traffic_allowance,
        on_duty_fee, on_duty_date, on_duty_fee_total, property_allowance, extra_job_allowance,
        temperature_allowance, reissue_fee, medicare, yearly_bonus, gross_salary, life_insurance,
        job_insurance, health_insurance, annuity, house_fund, expense, tax, net_income, pay_date
    </sql>

    <sql id="PeopleSalaryBase_Column_List">
        id, code, name, job_id, job_salary, rank_id, rank_salary, reserve_salary,
        job_allowance, performance_allowance, rent_allowance, house_allowance,
        duty_allowance, extra_allowance, telephone_allowance, traffic_allowance,
        on_duty_fee, property_allowance, extra_job_allowance,
        temperature_allowance, reissue_fee, medicare, yearly_bonus, life_insurance,
        job_insurance, health_insurance, annuity, house_fund, last_update_date
    </sql>

    <select id="findPeopleSalaryBasePageCondition" resultMap="peopleSalaryBaseVoResultMap" parameterType="PageInfo">
        SELECT
        t.id,
        t.code,
        t.name,
        t.age,
        t.job_id,
        j.job_category as job_category,
        j.job_level as job_level,
        t.job_salary,
        t.rank_id,
        r.rank_level as rank_level,
        t.rank_salary,
        t.reserve_salary,
        t.job_allowance,
        t.performance_allowance,
        t.rent_allowance,
        t.house_allowance,
        t.duty_allowance,
        t.extra_allowance,
        t.telephone_allowance,
        t.traffic_allowance,
        t.on_duty_fee,
        t.property_allowance,
        t.extra_job_allowance,
        t.temperature_allowance,
        t.reissue_fee,
        t.medicare,
        t.yearly_bonus,
        t.life_insurance,
        t.job_insurance,
        t.health_insurance,
        t.annuity,
        t.house_fund
        FROM people_total t
        LEFT JOIN
        job j ON j.id = t.job_id
        LEFT JOIN
        rank r ON r.id = t.rank_id
        <where>
            t.status = 0
            <if test=" condition.peopleName != null and condition.peopleName != ''">
                and t.name LIKE concat('%',#{condition.peopleName},'%')
            </if>
        </where>
        LIMIT #{from}, #{size}
    </select>

    <select id="findPeopleSalaryBasePageCount" resultType="java.lang.Integer" parameterType="PageInfo">
        select count(t.id) count
        FROM people_total t
        <where>
            t.status = 0
            <if test=" condition.peopleName != null and condition.peopleName != ''">
                and t.name LIKE concat('%',#{condition.peopleName},'%')
            </if>
        </where>
    </select>

    <select id="selectPeopleSalaryBaseById" resultMap="peopleSalaryBaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="PeopleSalaryBase_Column_List"/>
        from people_total
        where id=#{id, jdbcType=INTEGER}
    </select>

    <select id="selectPeopleSalaryBaseByCode" resultMap="peopleSalaryBaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="PeopleSalaryBase_Column_List"/>
        from people_total
        where code=#{code, jdbcType=VARCHAR}
    </select>

    <update id="updateSalaryBase" parameterType="com.wangzhixuan.model.PeopleSalaryBase">
        update people_total
        <set>
            <if test="peopleName != null">
                name = #{peopleName, jdbcType=VARCHAR},
            </if>
            <if test="jobId != null">
                job_id = #{jobId, jdbcType=INTEGER},
            </if>
            <if test="jobSalary != null">
                job_salary = #{jobSalary, jdbcType=DECIMAL},
            </if>
            <if test="rankId != null">
                rank_id = #{rankId, jdbcType=DECIMAL},
            </if>
            <if test="rankSalary != null">
                rank_salary = #{rankSalary,jdbcType=DECIMAL},
            </if>
            <if test="reserveSalary != null">
                reserve_salary = #{reserveSalary, jdbcType=DECIMAL},
            </if>
            <if test="jobAllowance != null">
                job_allowance = #{jobAllowance, jdbcType=DECIMAL},
            </if>
            <if test="performanceAllowance != null">
                performance_allowance = #{performanceAllowance, jdbcType=DECIMAL},
            </if>
            <if test="rentAllowance != null">
                rent_allowance = #{rentAllowance, jdbcType=DECIMAL},
            </if>
            <if test="houseAllowance != null">
                house_allowance = #{houseAllowance, jdbcType=DECIMAL},
            </if>
            <if test="dutyAllowance != null">
                duty_allowance = #{dutyAllowance, jdbcType=DECIMAL},
            </if>
            <if test="extraAllowance != null">
                extra_allowance = #{extraAllowance, jdbcType=DECIMAL},
            </if>
            <if test="telephoneAllowance != null">
                telephone_allowance = #{telephoneAllowance, jdbcType=DECIMAL},
            </if>
            <if test="trafficAllowance != null">
                traffic_allowance = #{trafficAllowance,jdbcType=DECIMAL},
            </if>
            <if test="onDutyFee != null">
                on_duty_fee = #{onDutyFee, jdbcType=DECIMAL},
            </if>
            <if test="propertyAllowance != null">
                property_allowance = #{propertyAllowance, jdbcType=DECIMAL},
            </if>
            <if test="extraJobAllowance != null">
                extra_job_allowance = #{extraJobAllowance, jdbcType=DECIMAL},
            </if>
            <if test="temperatureAllowance != null">
                temperature_allowance = #{temperatureAllowance, jdbcType=DECIMAL},
            </if>
            <if test="reissueFee != null">
                reissue_fee = #{reissueFee, jdbcType=DECIMAL},
            </if>
            <if test="medicare != null">
                medicare = #{medicare, jdbcType=DECIMAL},
            </if>
            <if test="yearlyBonus != null">
                yearly_bonus = #{yearlyBonus, jdbcType=DECIMAL},
            </if>
            <if test="lifeInsurance != null">
                life_insurance = #{lifeInsurance, jdbcType=DECIMAL},
            </if>
            <if test="jobInsurance != null">
                job_insurance = #{jobInsurance, jdbcType=DECIMAL},
            </if>
            <if test="healthInsurance != null">
                health_insurance = #{healthInsurance, jdbcType=DECIMAL},
            </if>
            <if test="annuity != null">
                annuity = #{annuity, jdbcType=DECIMAL},
            </if>
            <if test="houseFund != null">
                house_fund = #{houseFund, jdbcType=DECIMAL},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate, jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <select id="findPeopleSalaryPageCondition" resultMap="peopleSalaryVoResultMap" parameterType="PageInfo">
        SELECT
            t.id,
            t.people_code,
            p.name as people_name,
            p.age  as age,
            t.job_id,
            j.job_category as job_category,
            j.job_level as job_level,
            t.job_salary,
            t.rank_id,
            r.rank_level as rank_level,
            t.rank_salary,
            t.reserve_salary,
            t.exam_result,
            t.job_allowance,
            t.performance_allowance,
            t.rent_allowance,
            t.house_allowance,
            t.work_date,
            t.timesheet_status,
            t.duty_allowance,
            t.extra_allowance,
            t.telephone_allowance,
            t.traffic_allowance,
            t.on_duty_fee,
            t.on_duty_date,
            t.on_duty_fee_total,
            t.property_allowance,
            t.extra_job_allowance,
            t.temperature_allowance,
            t.reissue_fee,
            t.medicare,
            t.yearly_bonus,
            t.gross_salary,
            t.life_insurance,
            t.job_insurance,
            t.health_insurance,
            t.annuity,
            t.house_fund,
            t.expense,
            t.tax,
            t.net_income,
            t.pay_date
        FROM
        people_salary t
        LEFT JOIN
          people_total p ON t.people_code = p.code
        LEFT JOIN
          job j ON t.job_id = j.id
        LEFT JOIN
          rank r ON t.rank_id = r.id
        <where>
            <if test=" condition.peopleCode != null and condition.peopleCode != ''">
                and t.people_code LIKE concat('%',#{condition.peopleCode},'%')
            </if>
            <if test=" condition.peopleName != null and condition.peopleName != '' ">
                and p.name LIKE concat('%',#{condition.peopleName},'%')
            </if>
        </where>
        ORDER BY
          t.pay_date desc
        LIMIT #{from}, #{size}
    </select>

    <select id="findPeopleSalaryPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
        select count(t.id) count
        FROM
          people_salary t
        LEFT JOIN
          people_total p ON t.people_code = p.code
        LEFT JOIN
          job j ON t.job_id = j.id
        LEFT JOIN
          rank r ON t.rank_id = r.id
        <where>
            <if test=" condition.peopleCode != null and condition.peopleCode != ''">
                and t.people_code LIKE concat('%',#{condition.peopleCode},'%')
            </if>
            <if test=" condition.peopleName != null and condition.peopleName != '' ">
                and p.name LIKE concat('%',#{condition.peopleName},'%')
            </if>
        </where>
    </select>

</mapper>