<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.PeopleDispatchMapper">
    <resultMap id="BaseResultMap" type="com.wangzhixuan.model.PeopleDispatch">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="national_id" property="nationalId" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="education_name" property="educationName" jdbcType="VARCHAR"/>
        <result column="political_name" property="politicalName" jdbcType="VARCHAR"/>
        <result column="speciality" property="speciality" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="marriage_id" property="marriageId" jdbcType="INTEGER" />
        <result column="hukou" property="hukou" jdbcType="TINYINT"/>
        <result column="school_date" property="schoolDate" jdbcType="DATE" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="peopleDispatchVoResultMap" type="com.wangzhixuan.vo.PeopleDispatchVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="national_id" property="nationalId" jdbcType="INTEGER" />
        <result column="national_name" property="nationalName" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="education_name" property="educationName" jdbcType="VARCHAR"/>
        <result column="political_name" property="politicalName" jdbcType="VARCHAR"/>
        <result column="speciality" property="speciality" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="marriage_id" property="marriageId" jdbcType="INTEGER" />
        <result column="marriage_name" property="marriageName" jdbcType="VARCHAR"/>
        <result column="hukou" property="hukou" jdbcType="TINYINT"/>
        <result column="school_date" property="schoolDate" jdbcType="DATE" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, name, sex, national_id, province, city, birthday, education_name, political_name, speciality, height, marriage_id, hukou, school_date, mobile, address, department_name, job_name, comment, photo
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from people_dispatch
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPeopleDispatchVoById" resultMap="peopleDispatchVoResultMap" parameterType="java.lang.Long">
        SELECT
        t.id,
        t.code,
        t.name,
        t.sex,
        t.national_id,
        s.name as national_name,
        t.province,
        t.city,
        t.birthday,
        t.education_name,
        t.political_name,
        t.speciality,
        t.height,
        t.marriage_id,
        m.name as marriage_name,
        t.hukou,
        t.school_date,
        t.mobile,
        t.address,
        t.department_name,
        t.job_name,
        t.comment,
        t.photo
        FROM
        people_dispatch t
        LEFT JOIN
        dict_national s ON s.id = t.national_id
        LEFT JOIN
        dict_marriage m ON m.id = t.marriage_id
        <where>
            t.id = #{id}
        </where>
    </select>

    <select id="findPeopleDispatchById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from people_dispatch
        where id = #{id}
    </select>

    <select id="findPeopleDispatchByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from people_dispatch
        where name LIKE concat('%',#{name},'%')
    </select>

    <select id="findPeopleDispatchPageCondition" resultMap="peopleDispatchVoResultMap" parameterType="PageInfo">
        SELECT
        t.id,
        t.code,
        t.name,
        t.sex,
        t.national_id,
        s.name as national_name,
        t.province,
        t.city,
        t.birthday,
        t.education_name,
        t.political_name,
        t.speciality,
        t.height,
        t.marriage_id,
        m.name as marriage_name,
        t.hukou,
        t.school_date,
        t.mobile,
        t.address,
        t.department_name,
        t.job_name,
        t.comment,
        t.photo
        FROM
        people_dispatch t
        LEFT JOIN
        dict_national s ON s.id = t.national_id
        LEFT JOIN
        dict_marriage m ON m.id = t.marriage_id
        <where>
            <if test=" condition.code != null and condition.code != '' ">
                and t.code LIKE concat('%',#{condition.code},'%')
            </if>
            <if test=" condition.name != null and condition.name != '' ">
                and t.name LIKE concat('%',#{condition.name},'%')
            </if>
            <if test=" condition.sex != null">
                and t.sex = #{condition.sex}
            </if>
            <if test=" condition.nationalId != null">
                and t.national_id = #{condition.nationalId}
            </if>
            <if test=" condition.province != null and condition.province != ''">
                and t.province LIKE concat('%',#{condition.province},'%')
            </if>
            <if test=" condition.city != null and condition.city != ''">
                and t.city LIKE concat('%',#{condition.city},'%')
            </if>
            <if test=" condition.birthdayMin != null and condition.birthdayMin != ''">
                <![CDATA[ and t.birthday >= #{condition.birthdayMin} ]]>
            </if>
            <if test=" condition.birthdayMax != null and condition.birthdayMax != ''">
                <![CDATA[ and t.birthday <= #{condition.birthdayMax} ]]>
            </if>
            <if test=" condition.educationName != null and condition.educationName != ''">
                and t.education_name LIKE concat('%',#{condition.educationName},'%')
            </if>
            <if test=" condition.politicalName != null and condition.politicalName != ''">
                and t.political_name LIKE concat('%',#{condition.politicalName},'%')
            </if>
            <if test=" condition.speciality != null and condition.speciality != ''">
                and t.speciality LIKE concat('%',#{condition.speciality},'%')
            </if>
            <if test=" condition.height != null and condition.height != ''">
                and t.height LIKE concat('%',#{condition.height},'%')
            </if>
            <if test=" condition.marriageId != null">
                and t.marriage_id = #{condition.marriageId}
            </if>
            <if test=" condition.hukou != null">
                and t.hukou = #{condition.hukou}
            </if>
            <if test=" condition.schoolDateMin != null and condition.schoolDateMin != ''">
                <![CDATA[ and t.school_date >= #{condition.schoolDateMin} ]]>
            </if>
            <if test=" condition.schoolDateMax != null and condition.schoolDateMax != ''">
                <![CDATA[ and t.school_date <= #{condition.schoolDateMax} ]]>
            </if>
            <if test=" condition.mobile != null and condition.mobile != ''">
                and t.mobile LIKE concat('%',#{condition.mobile},'%')
            </if>
            <if test=" condition.address != null and condition.address != ''">
                and t.address LIKE concat('%',#{condition.address},'%')
            </if>
            <if test=" condition.departmentName != null and condition.departmentName != ''">
                and t.department_name LIKE concat('%',#{condition.departmentName},'%')
            </if>
            <if test=" condition.jobName != null and condition.jobName != ''">
                and t.job_name LIKE concat('%',#{condition.jobName},'%')
            </if>
            <if test=" condition.comment != null and condition.comment != ''">
                and t.comment LIKE concat('%',#{condition.comment},'%')
            </if>
        </where>
        LIMIT #{from}, #{size}
    </select>

    <select id="findPeopleDispatchPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
        select count(*) count
        from people_dispatch t
        <where>
            <if test=" condition.code != null and condition.code != '' ">
                and t.code LIKE concat('%',#{condition.code},'%')
            </if>
            <if test=" condition.name != null and condition.name != '' ">
                and t.name LIKE concat('%',#{condition.name},'%')
            </if>
            <if test=" condition.sex != null">
                and t.sex = #{condition.sex}
            </if>
            <if test=" condition.nationalId != null">
                and t.national_id = #{condition.nationalId}
            </if>
            <if test=" condition.province != null and condition.province != ''">
                and t.province LIKE concat('%',#{condition.province},'%')
            </if>
            <if test=" condition.city != null and condition.city != ''">
                and t.city LIKE concat('%',#{condition.city},'%')
            </if>
            <if test=" condition.birthdayMin != null and condition.birthdayMin != ''">
                <![CDATA[ and t.birthday >= #{condition.birthdayMin} ]]>
            </if>
            <if test=" condition.birthdayMax != null and condition.birthdayMax != ''">
                <![CDATA[ and t.birthday <= #{condition.birthdayMax} ]]>
            </if>
            <if test=" condition.educationName != null and condition.educationName != ''">
                and t.education_name LIKE concat('%',#{condition.educationName},'%')
            </if>
            <if test=" condition.politicalName != null and condition.politicalName != ''">
                and t.political_name LIKE concat('%',#{condition.politicalName},'%')
            </if>
            <if test=" condition.speciality != null and condition.speciality != ''">
                and t.speciality LIKE concat('%',#{condition.speciality},'%')
            </if>
            <if test=" condition.height != null and condition.height != ''">
                and t.height LIKE concat('%',#{condition.height},'%')
            </if>
            <if test=" condition.marriageId != null">
                and t.marriage_id = #{condition.marriageId}
            </if>
            <if test=" condition.hukou != null">
                and t.hukou = #{condition.hukou}
            </if>
            <if test=" condition.schoolDateMin != null and condition.schoolDateMin != ''">
                <![CDATA[ and t.school_date >= #{condition.schoolDateMin} ]]>
            </if>
            <if test=" condition.schoolDateMax != null and condition.schoolDateMax != ''">
                <![CDATA[ and t.school_date <= #{condition.schoolDateMax} ]]>
            </if>
            <if test=" condition.mobile != null and condition.mobile != ''">
                and t.mobile LIKE concat('%',#{condition.mobile},'%')
            </if>
            <if test=" condition.address != null and condition.address != ''">
                and t.address LIKE concat('%',#{condition.address},'%')
            </if>
            <if test=" condition.departmentName != null and condition.departmentName != ''">
                and t.department_name LIKE concat('%',#{condition.departmentName},'%')
            </if>
            <if test=" condition.jobName != null and condition.jobName != ''">
                and t.job_name LIKE concat('%',#{condition.jobName},'%')
            </if>
            <if test=" condition.comment != null and condition.comment != ''">
                and t.comment LIKE concat('%',#{condition.comment},'%')
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from people_dispatch
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="batchDeleteByIds" parameterType="java.util.ArrayList">
        delete from people_dispatch
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <insert id="insert" parameterType="com.wangzhixuan.model.PeopleDispatch">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into people_dispatch (code, name, sex, national_id, province, city, birthday, education_name, political_name, speciality, height, marriage_id, hukou, school_date, mobile, address, department_name, job_name, comment, photo)
        values (
        #{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{sex,jdbcType=TINYINT},
        #{nationalId, jdbcType=INTEGER},
        #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR},
        #{birthday,jdbcType=DATE},
        #{educationName,jdbcType=VARCHAR},
        #{politicalName,jdbcType=VARCHAR},
        #{speciality,jdbcType=VARCHAR},
        #{height,jdbcType=VARCHAR},
        #{marriageId, jdbcType=INTEGER},
        #{hukou, jdbcType=TINYINT},
        #{schoolDate,jdbcType=DATE},
        #{mobile, jdbcType=VARCHAR},
        #{address, jdbcType=VARCHAR},
        #{departmentName, jdbcType=VARCHAR},
        #{jobName, jdbcType=VARCHAR},
        #{comment, jdbcType=VARCHAR},
        #{photo, jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertByImport" parameterType="java.util.List">
        insert into people_dispatch (code, name, sex, national_id, province, city, birthday, education_name, political_name, speciality, height, marriage_id, hukou, school_date, mobile, address, department_name, job_name, comment, photo)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.code,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.sex,jdbcType=TINYINT},
            #{item.nationalId, jdbcType=INTEGER},
            #{item.province,jdbcType=VARCHAR},
            #{item.city,jdbcType=VARCHAR},
            #{item.birthday,jdbcType=DATE},
            #{item.educationName,jdbcType=VARCHAR},
            #{item.politicalName,jdbcType=VARCHAR},
            #{item.speciality,jdbcType=VARCHAR},
            #{item.height,jdbcType=VARCHAR},
            #{item.marriageId, jdbcType=INTEGER},
            #{item.hukou, jdbcType=TINYINT},
            #{item.schoolDate,jdbcType=DATE},
            #{item.mobile, jdbcType=VARCHAR},
            #{item.address, jdbcType=VARCHAR},
            #{item.departmentName, jdbcType=VARCHAR},
            #{item.jobName, jdbcType=VARCHAR},
            #{item.comment, jdbcType=VARCHAR},
            #{item.photo, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updatePeopleDispatch" parameterType="com.wangzhixuan.model.PeopleDispatch">
        update people_dispatch
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="nationalId != null">
                national_id = #{nationalId,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="educationName != null">
                education_name = #{educationName,jdbcType=VARCHAR},
            </if>
            <if test="politicalName != null">
                political_name = #{politicalName,jdbcType=VARCHAR},
            </if>
            <if test="speciality != null">
                speciality = #{speciality,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=VARCHAR},
            </if>
            <if test="marriageId != null">
                marriage_id = #{marriageId, jdbcType=INTEGER},
            </if>
            <if test="hukou != null">
                hukou = #{hukou, jdbcType=TINYINT},
            </if>
            <if test="schoolDate != null">
                school_date = #{schoolDate,jdbcType=DATE},
            </if>
            <if test="mobile != null">
                mobile = #{mobile, jdbcType=VARCHAR},
            </if>
            <if test="address!= null">
                address = #{address, jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null">
                department_name = #{departmentName, jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                job_name = #{jobName, jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment, jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectPeopleDispatchByIds" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        select
        t.id,
        t.code,
        t.name,
        t.sex,
        t.national_id,
        t.province,
        t.city,
        t.birthday,
        t.education_name,
        t.political_name,
        t.speciality,
        t.height,
        t.marriage_id,
        t.hukou,
        t.school_date,
        t.mobile,
        t.address,
        t.department_name,
        t.job_name,
        t.comment,
        t.photo
        from people_dispatch t
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectPeopleDispatchVoByIds" resultMap="peopleDispatchVoResultMap" parameterType="java.util.ArrayList">
        SELECT
        t.id,
        t.code,
        t.name,
        t.sex,
        t.national_id,
        s.name as national_name,
        t.province,
        t.city,
        t.birthday,
        t.education_name,
        t.political_name,
        t.speciality,
        t.height,
        t.marriage_id,
        m.name as marriage_name,
        t.hukou,
        t.school_date,
        t.mobile,
        t.address,
        t.department_name,
        t.job_name,
        t.comment,
        t.photo
        FROM
        people_dispatch t
        LEFT JOIN
        dict_national s ON s.id = t.national_id
        LEFT JOIN
        dict_marriage m ON m.id = t.marriage_id
        where t.id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
