<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.SocialSecurityMapper">
    <resultMap id="BaseResultMap" type="com.wangzhixuan.model.SocialSecurity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="people_code" property="peopleCode" jdbcType="VARCHAR"/>
        <result column="life_insurance_base"     property="lifeInsuranceBase" jdbcType="DECIMAL"/>
        <result column="life_insurance_school"   property="lifeInsuranceSchool" jdbcType="DECIMAL"/>
        <result column="life_insurance_people"   property="lifeInsurancePeople" jdbcType="DECIMAL"/>
        <result column="job_insurance_base"      property="jobInsuranceBase"    jdbcType="DECIMAL"/>
        <result column="job_insurance_school"    property="jobInsuranceSchool"  jdbcType="DECIMAL"/>
        <result column="job_insurance_people"    property="jobInsurancePeople"  jdbcType="DECIMAL"/>
        <result column="wound_insurance_base"    property="woundInsuranceBase"  jdbcType="DECIMAL"/>
        <result column="wound_insurance_school"  property="woundInsuranceSchool" jdbcType="DECIMAL"/>
        <result column="birth_insurance_base"    property="birthInsuranceBase"   jdbcType="DECIMAL"/>
        <result column="birth_insurance_school"  property="birthInsuranceSchool" jdbcType="DECIMAL"/>
        <result column="health_insurance_base"   property="healthInsuranceBase"  jdbcType="DECIMAL"/>
        <result column="health_insurance_school" property="healthInsuranceSchool" jdbcType="DECIMAL"/>
        <result column="health_insurance_people" property="healthInsurancePeople" jdbcType="DECIMAL"/>
        <result column="annuity_base"            property="annuityBase"           jdbcType="DECIMAL"/>
        <result column="annuity_school"          property="annuitySchool"         jdbcType="DECIMAL"/>
        <result column="annuity_people"          property="annuityPeople"         jdbcType="DECIMAL"/>
        <result column="pay_date"                property="payDate"               jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SocialSecurityBaseVoMap" type="com.wangzhixuan.vo.SocialSecurityBaseVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="life_insurance_base" property="lifeInsuranceBase" jdbcType="DECIMAL"/>
        <result column="job_insurance_base"  property="jobInsuranceBase"  jdbcType="DECIMAL"/>
        <result column="wound_insurance_base" property="woundInsuranceBase" jdbcType="DECIMAL"/>
        <result column="birth_insurance_base" property="birthInsuranceBase" jdbcType="DECIMAL"/>
        <result column="health_insurance_base" property="healthInsuranceBase" jdbcType="DECIMAL"/>
        <result column="annuity_base"         property="annuityBase"        jdbcType="DECIMAL"/>
        <result column="status"               property="status"             jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, people_code,
        life_insurance_base, life_insurance_school, life_insurance_people,
        job_insurance_base,  job_insurance_school, job_insurance_people,
        wound_insurance_base, wound_insurance_school,
        birth_insurance_base, birth_insurance_school,
        health_insurance_base, health_insurance_school, health_insurance_people,
        annuity_base, annuity_school, annuity_people,
        pay_date
    </sql>

    <select id="findPageCondition" resultMap="SocialSecurityBaseVoMap" parameterType="PageInfo">
        SELECT
        t.id,
        t.code,
        t.name,
        t.department_id,
        t.life_insurance_base,
        t.job_insurance_base,
        t.wound_insurance_base,
        t.birth_insurance_base,
        t.health_insurance_base,
        t.annuity_base,
        t.status
        FROM
        people_total t
        <where>
            <if test=" condition.status != null">
                and t.status = #{condition.status}
            </if>
            <if test=" condition.name != null and condition.name !=''">
                and t.name LIKE concat('%',#{condition.name},'%')
            </if>
        </where>
        LIMIT #{from}, #{size}
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="PageInfo">
        SELECT count(t.id) count
        FROM people_total t
        <where>
            <if test=" condition.status != null ">
                and t.status = #{condition.status}
            </if>
            <if test=" condition.name != null and condition.name !=''">
                and t.name LIKE concat('%',#{condition.name},'%')
            </if>
        </where>
    </select>

    <select id="findSocialSecurityPageCondition" resultMap="BaseResultMap" parameterType="PageInfo">
        SELECT
          *
        FROM
          social_security t
        <where>
              t.people_code = #{condition.peopleCode}
        </where>
        order by pay_date desc
        LIMIT #{from}, #{size}
    </select>

    <select id="findSocialSecurityCount" resultType="java.lang.Integer" parameterType="PageInfo">
        SELECT count(t.id) count
        FROM social_security t
    </select>

    <insert id="insert" parameterType="com.wangzhixuan.model.SocialSecurity">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into social_security(
            people_code,
            life_insurance_base, life_insurance_school, life_insurance_people,
            job_insurance_base,  job_insurance_school, job_insurance_people,
            wound_insurance_base, wound_insurance_school,
            birth_insurance_base, birth_insurance_school,
            health_insurance_base, health_insurance_school, health_insurance_people,
            annuity_base, annuity_school, annuity_people,
            pay_date
        )VALUES (
            #{peopleCode, jdbcType=VARCHAR},
            #{lifeInsuranceBase, jdbcType=DECIMAL},
            #{lifeInsuranceSchool, jdbcType=DECIMAL},
            #{lifeInsurancePeople, jdbcType=DECIMAL},
            #{jobInsuranceBase, jdbcType=DECIMAL},
            #{jobInsuranceSchool, jdbcType=DECIMAL},
            #{jobInsurancePeople, jdbcType=DECIMAL},
            #{woundInsuranceBase, jdbcType=DECIMAL},
            #{woundInsuranceSchool, jdbcType=DECIMAL},
            #{birthInsuranceBase, jdbcType=DECIMAL},
            #{birthInsuranceSchool, jdbcType=DECIMAL},
            #{healthInsuranceBase, jdbcType=DECIMAL},
            #{healthInsuranceSchool, jdbcType=DECIMAL},
            #{healthInsurancePeople, jdbcType=DECIMAL},
            #{annuityBase,   jdbcType=DECIMAL},
            #{annuitySchool, jdbcType=DECIMAL},
            #{annuityPeople, jdbcType=DECIMAL},
            #{payDate,       jdbcType=VARCHAR}
        )
    </insert>

    <select id="findSocialSecurityById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        from social_security
        where id=#{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wangzhixuan.model.SocialSecurity">
        update social_security
        <set>
            life_insurance_base = #{lifeInsuranceBase,jdbcType=DECIMAL},
            life_insurance_school = #{lifeInsuranceSchool, jdbcType=DECIMAL},
            life_insurance_people = #{lifeInsurancePeople, jdbcType=DECIMAL},
            job_insurance_base = #{jobInsuranceBase, jdbcType=DECIMAL},
            job_insurance_school = #{jobInsuranceSchool, jdbcType=DECIMAL},
            job_insurance_people = #{jobInsurancePeople, jdbcType=DECIMAL},
            wound_insurance_base = #{woundInsuranceBase, jdbcType=DECIMAL},
            wound_insurance_school = #{woundInsuranceSchool, jdbcType=DECIMAL},
            birth_insurance_base = #{birthInsuranceBase, jdbcType=DECIMAL},
            birth_insurance_school = #{birthInsuranceSchool, jdbcType=DECIMAL},
            health_insurance_base = #{healthInsuranceBase, jdbcType=DECIMAL},
            health_insurance_school = #{healthInsuranceSchool, jdbcType=DECIMAL},
            health_insurance_people = #{healthInsurancePeople, jdbcType=DECIMAL},
            annuity_base  = #{annuityBase, jdbcType=DECIMAL},
            annuity_school = #{annuitySchool, jdbcType=DECIMAL},
            annuity_people = #{annuityPeople, jdbcType=DECIMAL},
            pay_date = #{payDate, jdbcType=VARCHAR}
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from social_security
        where id = #{id, jdbcType=INTEGER}
    </delete>
</mapper>